<div class="footer-widget">
    <h2>Popüler Postlar</h2>
    <ul class="popular-post">
        <li>
            <figure>
                <a href="blog-single.html">
                    <img src="~/img/logo.png" alt="">
                </a>
            </figure>
            <div class="text">
                <a href="#">I Love Donut Bonbon Cackes</a>
            </div>
        </li>
        <li>
            <figure>
                <a href="blog-single.html">
                    <img src="~/img/logo.png" alt="">
                </a>
            </figure>
            <div class="text">
                <a href="#">I Love Donut Bonbon Cackes</a>
            </div>
        </li>
        <li>
            <figure>
                <a href="blog-single.html">
                    <img src="~/img/logo.png" alt="">
                </a>
            </figure>
            <div class="text">
                <a href="#">I Love Donut Bonbon Cackes</a>
            </div>
        </li>
    </ul>
</div>