@using BusinessLayer

@{
    HastagManagement HM = new HastagManagement();
    HM.PopulerHastag(5);
}

<div class="footer-widget">
    <h2>Popüler Hastagler</h2>
    <div class="twitter-feed">

        <div class="content">
            <p>
                <i class="glyphicon glyphicon-tag text-primary"> </i>
                <a href="#">#Ipsum.</a>
            </p>
            <p>
                <i class="glyphicon glyphicon-tag text-primary"> </i>
                <a href="#">#Ipsum.</a>
            </p>
            <p>
                <i class="glyphicon glyphicon-tag text-primary"> </i>
                <a href="#">#Ipsum.</a>
            </p>
            <p>
                <i class="glyphicon glyphicon-tag text-primary"> </i>
                <a href="#">#Ipsum.</a>
            </p>
            <p>
                <i class="glyphicon glyphicon-tag text-primary"> </i>
                <a href="#">#Ipsum.</a>
            </p>
            <p>
                <i class="glyphicon glyphicon-tag text-primary"> </i>
                <a href="#">#Ipsum.</a>
            </p>
        </div>

    </div>
</div>